# Build folder
build

# Dependency directory
node_modules/

# Development (IDE, editors, etc.)
.vs_code/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.sublime-project
*.sublime-workspace
.idea/

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Linux
.fuse_hidden*

# Logs
npm-debug.log*
